body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #0aa0fa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

nav a {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

section {
  margin-bottom: 3rem;
}

h2 {
  color: #0aa0fa;
}

ul {
  list-style-type: square;
  padding-left: 1.5rem;
}

a {
  color: #0aa0fa;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #111;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.logo img {
  height: 60px;
  width: auto;
  vertical-align: middle;
  background-color: #ffffff;
}

.name {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}